body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}
.input-group {
    margin-bottom: 20px;
}

.input-group .form-control {
    border-radius: 4px 0 0 4px;
}

.input-group .btn-primary {
    border-radius: 0 4px 4px 0;
}

.table {
    margin-top: 20px;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table thead th {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

.table tbody td {
    text-align: center;
    vertical-align: middle;
}

.btn-info, .btn-warning, .btn-danger, .btn-success {
    margin: 0 5px;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.mt-3 {
    margin-top: 1rem;
}
